.airtime-custom.airtime-container { 
  position: fixed;
  top: 0;
  left: 0;
  transform: none;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999999;
  width: 100vw;
  height: 100vh;
  max-width: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  color: #3F3D54;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 0;
  animation-name: none;
  gap: 0;

}

.airtime-custom .airtime-content {
  padding: 32px 32px 0 32px;
  border-radius: 4px 4px 0 0;
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #f8f6f7;
  width: 400px;
  color: #3F3D54;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.airtime-custom .airtime-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background-color: #f8f6f7;
  width: 400px;
  margin: 0;
  padding: 32px;
  border-radius: 0 0 4px 4px;
}

.airtime-custom .airtime-cta-button {
  background-color: #0271a6;
  border: none;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 8px 16px;
  order: 2;
}

.airtime-custom .airtime-cta-button:hover {
  background-color: #007fbe;
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.airtime-custom .airtime-close-button {
  background-image: url("data:image/svg+xml,%3Csvg height=%2724%27 width=%2724%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M0 0h24v24H0V0z%27 fill=%27none%27/%3E%3Cpath d=%27M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z%27 style=%27fill:%233f3d54%27/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-left: auto;
  cursor: pointer;
  margin: 0;
  order: 1;
}

.airtime-custom .airtime-close-button:hover {
   background-color: transparent;
}

.airtime-custom .slide-out {
  animation-name: slideout;
  animation-duration: 1s;
}

@media only screen and (max-width: 640px) {
  .airtime-custom.airtime-container {
    padding: 20px;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
  }

  .airtime-custom .airtime-content {
    max-width: calc(100% - 40px);
  }

  .airtime-custom .airtime-buttons {
    max-width: calc(100% - 40px);
  }

  .airtime-custom .airtime-close-button {
    order: 1;
    border: 1px solid #3F3D54;
    border-radius: 8px;
    align-self: stretch;
    height: auto;
    width: auto;
    box-sizing: border-box;
    padding: 0 24px;
  }

  .airtime-custom .airtime-cta-button {
    order: 2;
  }
}

/*
@keyframes slidein {
  from {
    transform: translateX(-50%) translateY(-100%);
  }

  to {
    transform: translateX(-50%) translateY(0%);
  }
}

@keyframes slideout {
  to {
    transform: translateX(-50%) translateY(-100%);
  }
}
*/